@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --prim-red: #E61F26;
    --sec-red: #b10006;
    --grey: #f0f0f0;

    --nivida-green: #26790C;
    --nvidia-bg: rgba(15,176,0,.28);
    --gap: 1rem;
}
body{
    background-color: var(--grey);
    width: 100vw;
    min-height: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
nav{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    #nav-logo{
        max-width: 160px;
    }
    #compare{
        background-color: var(--prim-red);
        padding: .5rem 1rem;
        border-radius: 30px;
        font-weight: bold;
        color: white;
        transition: .2s;
    }
    #compare:hover{
        background-color: var(--sec-red);
        cursor: pointer;
    }
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    .cards-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: fit-content;
        border-radius: 1rem;
        padding: 1rem;
        row-gap: 1rem;
    }
}
.card{
    min-width: 100%;
    border-radius: 12px;
    padding: 12px;
    min-height: fit-content;
    height: 300px;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    display: block;
    .card-top{
        height: 120px;
        input[type="checkbox"]{
            top: 12px;
        }
        .prod-img{
            width: 120px;
            height: auto;
            float: right;
        }
    }
    .card-mid{
        .prod-name{
            font-size: 22px;
        }
        .prod-detail{
            .detail-elem{
                display: flex;
                gap: .5rem;
                .detail-type{
                    color: rgb(139, 139, 139);
                }
                .detail-more{
                    text-decoration: underline;
                    color: var(--sec-red);
                    cursor: pointer;
                }
            }
            .detail-wrapper{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .card-bot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .3rem 0;
        .prod-select{
            padding: .5rem 1rem;
            border-radius: 8px;
            border: none;
            background-color: var(--prim-red);
            color: white;
            font-weight: bold;
        }
        .prod-price{
            font-size: 22px;
        }
    }
}
/* BRANDS */
.brand{
    margin: .5rem 0;
}
.nvidia{
    color: var(--nivida-green);
    background-color: var(--nvidia-bg);
    border-radius: 30px;
    font-size: 12px;
    padding: .5rem 1rem;
    width: fit-content;
}